body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    line-height: 1.5;
}

body h1{
    margin-top: 30px;
}

/* Navbar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.kontakt{
    text-decoration: none;
}

.logo{
    width: 55px;
    height: 55px;
}

.navlinks{
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;
}

.navlinks a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlinks li a:hover{
    color: aqua;
}


button{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button{
    padding: 10px 30px;
    background-color: gold;
    border-radius: 50px;
    color: black;
}

button:hover{
    color: aqua;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 20px 10%;
}

.aboutme{
    background-color: #b388eb;
    padding: 50px;
    max-width: 60%;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    height: fit-content;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.sol, .matte{
    width: 40%;
    border-radius: 8px; /* Avrundede hjørner for bildet */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

@media (max-width: 900px) {
    header{
        padding: 9px 4%;
    }
    
    .logo{
        width: 50px;
        height: 50px;
    }
    
    .navlinks li {
        padding: 0 9px;
    }
    
    .navlinks a{
        padding: 5px 7px;
    }
    
    
    button{
        text-align: center;
        padding: 5px 7px;
    }
    
    .button{
        padding: 5px 14px;
    }
    
    .container {
        flex-direction: column;
    }

    .sol,
    .matte {
        width: 90%; /* Juster bredden for mindre skjermer */
    }

    .aboutme{
        margin: 0 auto;
    }
}