.container {
    display: flex; /* flexbox for å plassere elementene ryddig*/
    padding-top: 20px; /* Luft på toppen */
}
  
.box1, .box2, .box3{
  flex: 1; 
  padding: 10px;
  border: 1px solid #000;
  background-color: #f0f0f0; 
  margin: 5px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.listItem{
  background-color: #f0f0f0;
}

body{
  width: 75%;
  margin: auto;
  justify-content: center; /*midtstiller body*/
  font-family: 'Roboto', sans-serif;
  background-color: hsl(144, 15%, 87%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1, h3{
  text-align: center; 
}

.listTitle{
  font-weight: bold;
}

.listTitle, .listDate, .listCategory, .listInfo{
  text-align: center; 
}

div {
  border-radius: 5px;
  padding: 20px;
  background-color: #ffcad4;
  }
  
#navn, #bursdag, #info, #category{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add, #sort{
  width: 100%;
  background-color: #f4a261;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

#add:hover, #sort:hover{
  background-color: #fb8500;
}

.listItem{
  text-align: center;
  list-style-type: '-'
}

/*responsivt design*/
@media (max-width: 500px) {
  body {
      width: 100%;
  }

  .container {
      flex-direction: column;
      align-items: center;
  }

  .box1, .box2, .box3 {
      width: 100%;
  }
}

  